@charset "utf-8";
.containerf {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.card.mwindow {
    position: absolute;
    width: 50%;
    height: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -100px;
}


.sprblack {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2100;
    background: rgba(0,0,0,0.3);
    display: none;
}
.srtxcx .indicator {
    background: #3F51B5;
}
.srtxcx .tab a.active:focus {
    background: transparent;
}
.uwqudssddws {
    position: fixed;
    z-index: 2000;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    top: 50%;
    margin-top: -35px;
}
.uwqudssddws > .card-content {
    padding: 10px;
}
.spinner-grey, .spinner-grey-only {
  border-color: #616161;
}
.percent {
    position: absolute;
    font-size: 16px;
    margin: 13px 0 0 0;
    width: 50px;
    text-align: center;
}