@charset "utf-8";
a.brand-logo.black-text.logo_principal {
    margin-left: 10px;
    margin-top: 6px;
}
.sptower > div {
    background: #416190 !important;
}
.sptower {
    background: #DDD;
    margin-top: 40px;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #F5F5F5;
}
.l-window {
    position: absolute;
    width: 300px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -75px;
}

/* CLASSES FOR WEBSITE*/
.navbar-fixed {
    height: 112px;
}
.idea_bar {
    background: #137eba;
    padding: 10px;
    color: #abddfa;
}
a.brand-logo {
    padding: 7px;
}

.idea_color{
    color: #406090 !important;
}
.idea_back{
    background: #406090 !important;
}

.idea_back_2 {
    background: #106392 !important;
}

.nav-content.idea_back {
    backdrop-filter: blur(20px);
    background: rgba(64, 95, 144, 0.7) !important;
}

.icon > i {
    margin-left:50%;
    transform: translateX(-50%);
    text-align:center;
}

.svideo {
    width: 80%;
    margin: 80px auto 40px;
}

.video.grey.darken-4 {
    overflow: hidden;
}

.text-shadow {
    text-shadow: 0px 0px 14px rgba(0,0,0,0.6);
}
.card.hoverable{
    cursor: pointer !important;
}
.extra_large{
    font-size: 8rem;
}
.text-data-b {
    text-align: justify;
    font-size: 20px !important;
}
.text-data-c {
    font-size: 18px !important;
}

.collapsible-header {
    font-size: 18px;
    color: #137eba;
}

.collapsible-body > span {
    font-size: 18px;
    text-align: justify !important;
}

ul.collection.invisible, ul.collection.invisible > li {
    border: none;
}

ul.collection.invisible > li{
    font-size: 17px;
}
.carousel.studiedplan{
    height: 600px !important;
}
.administracion_empresas, .contaduria_publica, .derecho, .informatica_administrativa, .negocios_internacionales, .turismo, .administracion_negocios, .derecho_privado, .actualizacion_profesional{
    display: none;
}
.card-panel > span {
    font-size: 18px;
}
.collection-item {
    text-align: left !important;
}

.justify-align {
    text-align: justify;
}

.first_paragraph {
    margin: 50px 0 40px;
    padding: 0 50px;
    font-size: 20px;
}

.card-back {
    position: absolute;
    margin-left: -24px;
    margin-top: -55px;
    z-index: 0;
}

.parallax1.parallax-container{
    height: 700px;
}

.logo_refract_centering {
    margin-top: 303px;
}

.content_beauty {
    font-size: 17px;
    margin-top: 30px !important;
}

.refract_product {
    padding: 10px 25px;
}

.comparator.row {
    margin: 0 40px;
}

.product_name {
    margin-top: 10px;
    height: 65px;
}

.product_image {
    height: 180px;
}

.base_color {
    background: #333;
    margin-left: -14px !important;
    width: calc(100% + 28px) !important;
    padding: 10px 5px !important;
    text-align: center;
    height: 70px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFF;
}

.base_color.anatomic_color {
    background: linear-gradient(to left, #AA1E54, #6B2A82);
}

.base_color.contrast_color {
    background: linear-gradient(to left, #F7CF10, #F79C1F);
}

.base_color.sensorial_color {
    background: linear-gradient(to left, #BBC932, #75BF43);
}

.base_color.definition_color {
    background: linear-gradient(to left, #249690, #2B7797);
}

.content_product {
    height: 240px;
    text-align: justify;
}

.logo_action {
    height: 70px;
    padding: 10px !important;
}

.logo_action.anatomic_color {
    border-top: 1px dotted #6c2a81;
    border-bottom: 1px dotted #aa1f55;
}

.logo_action.contrast_color {
    border-top: 1px dotted #f79c1f;
    border-bottom: 1px dotted #f7cf10;
}

.logo_action.sensorial_color {
    border-top: 1px dotted #75bf43;
    border-bottom: 1px dotted #bbc932;
}

.logo_action.definition_color {
    border-top: 1px dotted #2b7797;
    border-bottom: 1px dotted #249690;
}

.col.s12.comparator {
    padding: 0;
}

.col.s12.comparator > ul, .col.s12.comparator > ul > li {
    border: none;
}

.progress.anatomic_color, .progress.contrast_color, .progress.sensorial_color, .progress.definition_color {
    background: #DDD;
}

.progress.anatomic_color > div {
    background: linear-gradient(to left, #aa1e54, #6b2a82);
}

.progress.contrast_color > div {
    background: linear-gradient(to left, #f8cf11, #f79c1f);
}

.progress.sensorial_color > div {
    background: linear-gradient(to left, #bbc932, #76c043);
}

.progress.definition_color > div {
    background: linear-gradient(to left, #249690, #2b7797);
}

.principal_brands > li.indicator {
    background: #424242;
}

/* CARDS */
h4.card_stitle.anatomic {
    color: #aa1e54;
}

h5.card_sbtitle.anatomic {
    color: #75398a;
}

.col.s12.m7.beuty_stext {
    font-size: 19px;
    text-align: justify;
}

.logo_action.anatomic_color.xs, .logo_action.contrast_color.xs, .logo_action.sensorial_color.xs, .logo_action.definition_color.xs {
    border-width: 2px;
}

ul.benefits_list {
    font-size: 18px;
}

span.card_sbtitle.anatomic {
    font-size: 20px;
    color: #a91e54;
}

.col.s12.m5.target.anatomic, .col.s12.m5.target.contrast, .col.s12.m5.target.sensorial, .col.s12.m5.target.definition, .col.s12.m5.target.rainboll {
    
    padding: 30px 30px 40px;
    margin-top: 60px;
    font-size: 20px;
    text-align: justify;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.col.s12.m5.target.anatomic{
    border: 2px solid #a91e54;
}

h4.card_stitle.contrast {
    color: #f8cf12;
}

h5.card_sbtitle.contrast {
    color: #f79c1f;
}

.col.s12.m5.target.contrast{
    border: 2px solid #f79c1f;
}

span.card_sbtitle.contrast {
    font-size: 20px;
    color: #f79c1f;
}

h4.card_stitle.sensorial {
    color: #bbc933;
}

h5.card_sbtitle.sensorial {
    color: #77c043;
}

.col.s12.m5.target.sensorial{
    border: 2px solid #77c043;
}

span.card_sbtitle.sensorial {
    font-size: 20px;
    color: #77c043;
}

h4.card_stitle.definition {
    color: #249690;
}

h5.card_sbtitle.definition {
    color: #2B7797;
}

.col.s12.m5.target.definition{
    border: 2px solid #2B7797;
}

span.card_sbtitle.definition {
    font-size: 20px;
    color: #2B7797;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent !important;
}

.logo_action.definition_color.xs.acomoda {
    border-top: 2px dotted #AC1E51;
    border-bottom: 2px dotted #2B7797;
}

.definition_color.rainboll > div {
    background: linear-gradient(to left, #2B7797, #8CC23F, #F2A420, #AC1E51) !important;
}

h5.card_sbtitle.rainboll {
    color: #ba3947;
}

span.card_sbtitle.rainboll {
    font-size: 20px;
    color: #64a363;
}

.col.s12.m5.target.rainboll {
    border: 2px solid #7eb74b;
}

.hidden{
    display: none;
}

.card-image.brand_name {
    padding: 30px;
    height: 80px;
}

.card-image.brand_name.center-align.big {
    height: 190px;
}

.brand_name_c{
    padding: 30px;
    height: 160px;
}

.card-content.height_content {
    height: 170px;
}

p.beauty_product {
    font-size: 17px;
    text-align: justify;
}

span.card-title.beauty_parent {
    font-size: 24px !important;
    font-weight: bold;
}

ol.beauty_list {
    text-align: justify;
    line-height: 1.5em;
    font-size: 16px;
}

.slide_s{
    display: none;
}



@media only screen and (max-width: 600px) {
    a.brand-logo {
        padding: 6px !important;
    }
    .navbar-fixed {
        height: 104px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {

}

@media only screen and (min-width: 1980px) {

}